<p id="notice"><%= notice %></p>

<h3>Estoque</h3>

<table class="table table-bordered table-hover">
  <thead class="text-light">
    <tr>
      <th>#</th>
      <th>Nome do Produto</th>
      <th>Qtd. entrada</th>
      <th>Qtd. saida</th>
      <th>Data de entrada</th>
      <th>Data de saida</th>
      <th>Valor de entrada</th>
      <th>Valor de saida</th>
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @estoquesAll.each do |estoque| %>
      <tr style="text-align:right">
        <td><%= estoque.id %></td>
        <td><%= estoque.produto.nomeproduto %></td>
        <td><%= estoque.qtdentrada %></td>
        <td><%= estoque.qtdsaida %></td>
        <td><%= formatarData(estoque.dataentrada) %></td>
        <td><%= formatarData(estoque.datasaida) %></td>
        <td><%= formatarValor(estoque.valorentrada) %></td>
        <td><%= formatarValor(estoque.valorsaida) %></td>
        <td style="text-align:center"><%= link_to edit_estoque_path(estoque) do %>
              <i class="fa fa-edit mr-2 text-warning"></i>
            <% end %>
            <%= link_to estoque, method: :delete  do %>
              <i class="fa-solid fa-trash text-danger"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center" >
  <%= paginate @estoques, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>
</div>
<div class="d-flex justify-content-end col-12">
  <%= link_to "Cadastrar", new_estoque_path, class:"btn btn-sm btn-success" %>
</div>
<div class="row actions text-end1">
  <div class="d-flex justify-content-start col-12">
    <div class="col-6 justify-content-center">
      <span style= "font-size: small">Total de Registros: <%= @estoquesAll.count %></span>
    </div>
     <div class="col-6">
     <span style= "font-size: small"> CSV <a href="/estoques.csv"><i class="fa-solid fa-file-csv"></i></a></span>
    </div>
  </div>
</div>
