<p id="notice"><%= notice %></p>

<h1>Tipoprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Nomeproduto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoprodutos.each do |tipoproduto| %>
      <tr>
        <td><%= tipoproduto.nomeproduto %></td>
        <td><%= link_to 'Show', tipoproduto %></td>
        <td><%= link_to 'Edit', edit_tipoproduto_path(tipoproduto) %></td>
        <td><%= link_to 'Destroy', tipoproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipoproduto', new_tipoproduto_path %>
