<%= form_with(model: pessoajuridica, local: true) do |form| %>
  <% if pessoajuridica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoajuridica.errors.count, "error") %> prohibited this pessoajuridica from being saved:</h2>

      <ul>
        <% pessoajuridica.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
