<p id="notice"><%= notice %></p>

<h1>Cnpj</h1>

<table class="table table-bordered table-hover container">
  <thead class="text-light">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @pessoajuridicas.each do |pessoajuridica| %>
      <tr>
        <td><%= pessoajuridica.id %></td>
        <td><%= pessoajuridica.nome %></td>
        <td><%= formatCnpj(pessoajuridica.cnpj) %></td>
        <td><%= link_to edit_pessoajuridica_path(pessoajuridica) do %>
              <i class="fa fa-edit mr-2 text-warning"></i>
            <% end %>
            <%= link_to pessoajuridica, method: :delete do %>
              <i class="fa-solid fa-trash text-danger"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center" >
  <%= paginate @pessoajuridicas, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>
</div>
<div class="d-flex justify-content-end col-12">
    <%= link_to "Cadastrar", new_pessoajuridica_path, class:"btn btn-sm btn-success" %>
</div>
<div class="row actions text-end1">
  <div class="d-flex justify-content-start col-12">
    <div class="col-6 justify-content-center">
      <span style= "font-size: small">Total de Registros: <%= @pessoajuridicasAll.count %></span>
    </div>
     <div class="col-6">
     <span style= "font-size: small"> CSV <a href="/pessoajuridicas.csv"><i class="fa-solid fa-file-csv"></i></a></span>
    </div>
  </div>
</div>
