<% form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"name@example.com", class:"form-control",  id:"inputEmail" %>
        <%= f.label :email %>
    </div>
    <div class="form-floating mb-3">
        <input  id="inputPassword" type="password"  />
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class:"form-control", id:"inputPassword" %>
        <%= f.label :password %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3">
          <%= f.check_box :remember_me, class:"form-check-input", type="checkbox", id:"inputRememberPassword" %>
          <%= f.label :remember_me, :class"form-check-label" %>
      </div>
    <% end %>
    
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="password.html">Forgot Password?</a>
          <%= f.submit "Log in", class:"btn btn-primary" %>
    </div>
<% end %>


