<p id="notice"><%= notice %></p>

<h1>Pessoafisicas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoafisicas.each do |pessoafisica| %>
      <tr>
        <td><%= pessoafisica.nome %></td>
        <td><%= pessoafisica.cpf %></td>
        <td><%= link_to 'Show', pessoafisica %></td>
        <td><%= link_to 'Edit', edit_pessoafisica_path(pessoafisica) %></td>
        <td><%= link_to 'Destroy', pessoafisica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoafisica', new_pessoafisica_path %>
