<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoafisica.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoafisica.cpf %>
</p>

<%= link_to 'Edit', edit_pessoafisica_path(@pessoafisica) %> |
<%= link_to 'Back', pessoafisicas_path %>
