<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      
      <% if (produto.errors.any?) %>

      <% produto.errors.full_messages.each do |message| %>
      <div class="alert alert-danger d-flex flex-row-end alert-dismissible fade show" role="alert" style="width:500px;">
        <i class="fa-solid fa-triangle-exclamation mr-2"></i><%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <% end %>
   
      <% end %>
    </div>
  <% end %>
<div >
  <div class="field mb-3">
    <%= form.label t("fields.nomeproduto") , class:"form-label" %>
    <%= form.text_field :nomeproduto, class:"form-control form-control-sm col-lg-6 col-sm-12" %>
  </div>

  <div class="field mb-3">
    <%= form.label t("fields.dtavalidade"), class:"form-label" %>
    <%= form.date_field :dtavalidade, class:"form-control form-control-sm col-lg-4 col-sm-12" %>
  </div>

  <div class="field mb-3">
    <%= form.label t("fields.codbarras"), class:"form-label" %>
    <%= form.number_field :codbarras, class:"form-control form-control-sm col-lg-4 col-sm-12" %>
  </div>

  <div class="actions text-end row">
    <div class="d-flex justify-content-start col-6">
    <%= link_to t('fields.back'), produtos_path, class: "btn btn-sm btn-primary"  %>
    </div>
    <div class="d-flex justify-content-end col-6">
      <%= form.submit "Salvar", class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>
<% end %>
<script>

</script>
