<p id="notice"><%= notice %></p>


<table class="table table-bordered table-hover">
    <thead class="text-light">
        <tr>
          <th>#</th>
          <th>Nome do produto</th>
          <th>Data de validade</th>
          <th>Cod. barras</th>
          <th colspan="3">Opções</th>
        </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nomeproduto %></td>
          <td><%= formatarData(produto.dtavalidade) %></td>
          <td><%= produto.codbarras %></td>
          <td><%= link_to edit_produto_path(produto) do %>
                <i class="fa fa-edit mr-2 text-warning"></i>
              <% end %>
              <%= link_to produto, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa-solid fa-trash text-danger"></i>
              <% end %>          
        </tr>
      <% end %>
    </tbody>
</table>
<div class="text-center" >
  <%= paginate @produtos, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>
</div>
<div class="text-right">
  <%= link_to "Cadastrar", new_produto_path, class:"btn btn-sm btn-success" %>
</div>


