<p id="notice"><%= notice %></p>
<h3>Produtos</h3>
<table class="table table-bordered table-hover">
    <thead class="text-light">
        <tr>
          <th>#</th>
          <th>Nome do produto</th>
          <th>Data de validade</th>
          <th>Cod. barras</th>
          <th colspan="3">Opções</th>
        </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nomeproduto %></td>
          <td><%= formatarData(produto.dtavalidade) %></td>
          <td><%= produto.codbarras %></td>
          <td><%= link_to edit_produto_path(produto) do %>
                <i class="fa fa-edit mr-2 text-warning"></i>
              <% end %>
              <%= link_to produto, method: :delete do %>
                <i class="fa-solid fa-trash text-danger"></i>
              <% end %>  
          </td>        
        </tr>
      <% end %>
    </tbody>
</table>
<div class="text-center" >
  <%= paginate @produtos, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>
</div>
<div class="row actions text-end1">
  <div class="d-flex justify-content-start col-6">
    <div class="col-6">
      Total de Registros: <%= @produtosAll.count %>
    </div>
     <div class="col-6">
      Gerar relatorio CSV <a href="/produtos.csv"><i class="fa-solid fa-file-csv"></i></a>
    </div>
  </div>
  <div class="d-flex justify-content-end col-6">
    <%= link_to "Cadastrar", new_produto_path, class:"btn btn-sm btn-success" %>
  </div>
</div>

