<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeproduto:</strong>
  <%= @produto.nomeproduto %>
</p>

<p>
  <strong>Dtavalidade:</strong>
  <%= @produto.dtavalidade %>
</p>

<p>
  <strong>Codbarras:</strong>
  <%= @produto.codbarras %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
