<!DOCTYPE html>
<html>
  <head>
    <title>SisEstoque</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'produtos' %>
    <%= javascript_pack_tag 'datatables-simple-demo' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'scripts' %>

  </head>

  <body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-success">
      <!-- Navbar Brand-->
   
      <!-- Sidebar Toggle-->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
         <%= link_to "SisEstoque" ,produtos_path, class: "navbar-brand ps-3" %>
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
          <div class="input-group">

              <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
              <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
          </div>
      </form>

  </nav>
  <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
          <nav class="sb-sidenav accordion bg-success" id="sidenavAccordion">
              <div class="sb-sidenav-menu">
                  <div class="nav text-light">
                      <div class="sb-sidenav-menu-heading ">Cadastros                      
                      </div>                    
                      <%= link_to produtos_path, class: "nav-link text-light" do %>
                      <div class="sb-nav-link-icon"><i class="fa-solid fa-dolly"></i></div>
                      Produtos
                      <% end %>
                      <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                        Sair
                        <% end %>                     
                  </div>
                  
              </div>
          </nav>
      </div>
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid px-2">
                  
                  <div class="card mb-4 mt-2 container">
                  <h3 class="mt-4 ml-3">Produtos</h3>
                      <div class="card-body">
                        <%= yield %>
                      </div>
                  </div>                  
              </div>
          </main>
          <footer class="py-4 bg-light mt-auto">
              <div class="container-fluid px-4">
                  <div class="d-flex align-items-center justify-content-between small">
                      <div class="text-muted">Copyright &copy; <strong>SisEstoque <%= Time.now.year %></strong></div>
                      <div>
                          Versão <strong>1.0.0</strong>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
  </div>
</body>
</html>

